{% extends '::layout.html.twig' %}

{% block body %}
	<div class="ui middle aligned center aligned grid custom_error_container">
		<div class="column">
			<h1 class="ui center aligned header">{{ status_code }} Page introuvable</h1>
			<h2 class="ui center aligned header"><a href="{{ app.request.server.get('HTTP_REFERER') }}">Retour à la page précédente</a></h2>
		</div>
	</div>
{% endblock %}