{% extends '::layout.html.twig' %}

{% block body %}
	<h1 class="ui center aligned header">{{ status_code }} Page innexistante</h1>
	<h2 class="ui center aligned header"><a href="{{ path('app_home') }}">Retour à la page d'accueil</a></h2>
{% endblock %}