{%  extends '::layout.html.twig' %}

{% block body %}
  {% include '@App/_components/flash_messages.html.twig' %}
  <h1 class="ui center aligned dividing header custom"><a href="{{ path('app_home') }}">GPI - GooglePlay comments</a></h1>
  {% block body_content %}{% endblock %}
{% endblock %}

{% block javascripts %}{{ parent() }}

{% endblock %}