{% for msg in errorMsg %}
	<div class="ui error message custom_message">{{ msg|raw }}</div>
{% endfor %}
{% for msg in successMsg %}
	<div class="ui success message custom_message">{{ msg|raw }}</div>
{% endfor %}
{% for msg in noticeMsg %}
	<div class="ui message custom_message">{{ msg|raw }}</div>
{% endfor %}