{% for msg in errorMsg %}
	<div class="ui error message">{{ msg }}</div>
{% endfor %}
{% for msg in successMsg %}
	<div class="ui success message">{{ msg }}</div>
{% endfor %}
{% for msg in noticeMsg %}
	<div class="ui message">{{ msg }}</div>
{% endfor %}