{% extends '@App/base.home.html.twig' %}

{% block title %}GPI GooglePlay Comment{% endblock %}

{% block body %}{{ parent() }}
	<h1 class="ui header">Index</h1>
{% endblock %}

{% block javascripts %}{{ parent() }}

{% endblock %}