.ui.message {
	margin: 0!important;
}

.ui.header.custom {
	margin: 5rem 0 5rem 0;
	padding-bottom: 5rem;
	font-size: 3em;
}

.custom_signin_form {
	text-align: left!important;
	margin: auto!important;
	max-width: 500px;
}

.custom_application_bar {
	padding: 10rem 0 10rem 0!important;
}

.custom_admin_vertical_menu {
	height: 100%;
}
.custom_admin_container {
	height: 100%;
	padding-left: 15rem;
}

.custom_admin_title {
	margin: 0!important;
}
.custom_admin_title h1 {
	margin: 3rem 0 3rem 0!important;
	padding: 0!important;
}

.custom_admin_segment {
	margin: -14px 0 2rem 0!important;
	border-radius: 0!important;
}